NODE_ENV=production

PORT=3000

OMS_BASE_URL=https://uat.xfltrade.com:20121

OMS_USERNAME=
OMS_PASSWORD=
OMS_DEVICE_ID=
OMS_MFA_KEY=
OMS_MFA_CODE=
OMS_APP_TYPE=1

DISCORD_WEBHOOK_URL=

CRON_SCHEDULE=*/5 * * * *

LOG_LEVEL=info

REQUEST_TIMEOUT_MS=15000
TOKEN_REFRESH_BUFFER_MS=60000
